.navbar {
  background-color: #fff;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  &__search {
    margin-right: auto;
    margin-left: 108px;
  }
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
   
  &__input {
    width: 350px;
    height: 100%;
    padding-left: 23px;
    padding-right: 75px;
    background-color: #F5FAFE;
    font-size: 12px;
    line-height: 15px;
    color: $text-color;
    border: none;
    outline: none;
  }
  &__button {
    position: absolute;
    width: 65px;
    height: 100%;
    background-color: $primary;
    border: none;
    right: 0;
    cursor: pointer;
  }
}

.user {
  display: flex;
  align-items:center;
  text-decoration: none;
  &__avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__name {
    font-size: 14px;
    line-height: 18px;
    color: $text-color;
    margin-left: 18px;
  }
}